{% extends "base.html" %}


{% block content %}

<!DOCTYPE html>
<html>
<body>
<h5><a href="https://translate.google.com/translate?hl=en&sl=en&tl=hi&u=https%3A%2F%2Finstarepair.herokuapp.com%2Fare_you">HINDI</a></h5>
<h1>Are you a Mechanic ?</h1>
<p>We don't need your information , just click the button below and give you phone number and
  name to register with us</p>
  <p>We will fetch you location and some details</p>
  <div class="jumbotron">
  <form method="POST">
      {# This hidden_tag is a CSRF security feature. #}
      {{ form.hidden_tag() }}
      {{ form.name.label }} {{ form.name() }}
      {{ form.email.label }} {{ form.email() }}
      {{ form.submit() }}
  </form>
</div>
<p>**Contact 9434XXXXXX for any assistance**</p>
<p>Click the button to get your coordinates.</p>

<button onclick="getLocation()">Try It</button>

<p id="demo"></p>

<script>
var x = document.getElementById("demo");

function getLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showPosition);
  } else {
    x.innerHTML = "Geolocation is not supported by this browser.";
  }
}

function showPosition(position) {
  x.innerHTML = "Latitude: " + position.coords.latitude +
  "<br>Longitude: " + position.coords.longitude;
}
</script>
<!-- <a href="https://www.latlong.net/c/?lat=console.log(position.coords.latitude)&long=position.coords.longitude" target="_blank">(, 88.397751)</a> -->
</body>
</html>


{% endblock %}
