{% extends "base.html" %}


{% block content %}
  <h1> Hey ! </h1>
  <p>instarepair is a hassle free, web based mechanic booking app , without getting into the hassle of creating account</p>
  <p>Feel free to post your experience and feedback in the blog page</p>
  <div class="jumbotron">
    <h2>Welcome to InstaRepair</h2>
    <h3><i>A hassle free mechanic booking and finidng for your daily needs !</i></h3>
    <h3><i>How it works ?</i></h3>
    <h4><i>
      <ol>
        <li>you just need to click on find Mechanic tab</li>
      <br>  <li>There according to your current location , <br>you will be shown mechanics around you</li>
      <br>  <li>Click on the links to get the details and <br>hover around the marker to get the detials</li>
      <br>  <li>Don't forget to post your experience on our Social Blog page</li>
      </ol>
    </i></h4>
  </div>
{% endblock %}
